<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        htmx.config.debug = true;
    </script>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>My Webpage</title>
</head>
<body class="flex">

    <!-- Sidebar -->
    <div class="w-64 h-screen bg-gray-800 text-white p-4 items-center">
        <div class="p-4">
            <a href="/view1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">1. Base</a>
        </div>
        <div class="p-4">
            <a href="/view2"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">2. Create</a>
        </div>
        <div class="p-4">
            <a href="/view3" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">3. Output</a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-10">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Login/Logout Button -->
    <!-- <div class="absolute top-0 right-0 m-4">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Login / Logout</button>
    </div> -->

</body>
</html>
