{% extends "index.html" %}

{% block content %}

    <div class="container mx-auto p-4 mb-20">
        <h1 class="text-xl font-bold"> PPTX Outputs </h1>
        <p class="text-slate-500"> Involves generation of PPTX from audio and photo</p>

        <table class="min-w-full divide-y divide-gray-200 mt-4">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Details and Actions
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for row in data %}
                    <tr>
                        <td class="px-6 py-4">
                            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
                                <div class="flex justify-between gap-x-4 py-3">
                                    <dt class="text-gray-500">Slide Title:</dt>
                                    <dd class="text-gray-700 break-words max-h-32 overflow-y-auto">{{ row.slide_title }}</dd>
                                </div>
                                <div class="flex justify-between gap-x-4 py-3">
                                    <dt class="text-gray-500">Slide Body:</dt>
                                    <dd class="text-gray-700 break-words max-h-32 overflow-y-auto">{{ row.slide_body_text }}</dd>
                                </div>
                                <div class="flex justify-between gap-x-4 py-3">
                                    <dt class="text-gray-500">Slide Video:</dt>
                                    <dd class="text-gray-700"><a href="{{ row.slide_video_url }}" class="text-blue-500"> Vid Download </a></dd>
                                </div>
                                <div class="flex justify-between gap-x-4 py-3">
                                    <dt class="text-gray-500">Date Created</dt>
                                    <dd class="text-gray-700"><time datetime="{{ row.created_at }}">{{ row.created_at }}</time></dd>
                                </div>
                                <div class="flex justify-between gap-x-4 py-3">
                                    <dt class="text-gray-500">Actions:</dt>
                                    <dd> 
                                        <a href="{{ row.powerpoint_url }}" class="bg-blue-500 m-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Slide Download
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

