<script>
    document.body.addEventListener('click', function (event) {
        if (event.target.id === 'ok-btn') {
            // Close the modal
            const modal = document.getElementById('my-modal');
            if (modal) {
                modal.style.display = 'none';
            }
            // Refresh the page
            location.reload();
        }
    });
</script>

<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Submission Status</h3>
            <h4 class="mt-2 text-sm text-red-500">!! PLEASE WAIT FOR THE SUBMISSION TO FINISH !! </h4>
            <p class="mt-2 text-sm text-red-500">Based on the current environment, if you refresh the page, the submission will be cancelled (future enhancement).</p>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">Your submission has been received and is processing.</p>
                <br />
                <div id="loading-bar" class="hidden flex justify-center items-center">
                    <button type="button" class="bg-slate-500 text-white font-bold py-2 px-4 rounded flex items-center justify-center" disabled>
                        <svg class="animate-spin h-5 w-5 text-white" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12c5.52 0 10-4.52 10-10z"></path>
                        </svg>
                    </button>      
                </div>
                <span class="mt-2 mb-2 inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10" id="statusText"> </span>
                <p class="text-sm text-gray-500" id="startTime">  </p>
                <p class="text-sm text-gray-500" id="currentTime"> ...Please wait...  </p>
            </div>
            <div class="items-center px-4 py-3">
                <button id="ok-btn" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>


<script>

    // When the modal is loaded
        // Extract job_id from the template data
        const jobId = "{{ data.job_id }}";
        console.log('Job ID Retrieved from Client Side: ' + jobId)
        // Set up an EventSource to listen for updates
        const eventSource = new EventSource('/view2/submit/progress?job_id=' + jobId);
        const statusTextElement = document.getElementById('statusText');
        const initialTime = new Date().toLocaleTimeString();
        eventSource.onmessage = function(event) {
            // Update the status text on the page
            document.getElementById('loading-bar').classList.remove('hidden'); // Show the loading bar
            document.getElementById('startTime').innerText = 'Start Time: ' + initialTime;
            document.getElementById('statusText').innerText = 'Job: ' + event.data;
            document.getElementById('currentTime').innerText = 'Status Time: ' + new Date().toLocaleTimeString();
            // Change color based on status
            updateStatusColor(event.data, statusTextElement);
            console.log('Job Status: ' + event.data);
            // Close the connection if the job is finished
            if (event.data.includes('FINISHED')) {
                document.getElementById('statusText').innerText = 'Job: ' + event.data;
                eventSource.close();
                document.getElementById('loading-bar').classList.add('hidden'); // Hide the loading bar
                // sleep for 3 seconds then redirect to /view3
                setTimeout(function() {
                    window.location.href = '/view3';
                }, 3000);
            }
        };

        function updateStatusColor(status, element) {
        element.classList.remove('bg-blue-50', 'text-blue-700', 'ring-blue-700/10', 'bg-yellow-50', 'text-yellow-700', 'ring-yellow-700/10', 'bg-green-50', 'text-green-700', 'ring-green-700/10');
        
        if (status.includes('STARTING')) {
            element.classList.add('bg-blue-50', 'text-blue-700', 'ring-blue-700/10');
        } else if (status.includes('PROCESSING')) {
            element.classList.add('bg-yellow-50', 'text-yellow-700', 'ring-yellow-700/10');
        } else if (status.includes('FINISHED')) {
            element.classList.add('bg-green-50', 'text-green-700', 'ring-green-700/10');
        } else {
            element.classList.add('bg-red-50', 'text-red-700', 'ring-red-700/10');
        }
    }

</script>