{% extends "index.html" %}

{% block content %}

<h1 class="text-3xl font-bold mb-5"> Faces and Voices </h1>
<p class="mb-5">Management of faces and voices for content creation</p>

<div class="">
    <div class="container mx-auto p-2">

        <div class="flex flex-wrap -mx-2">

            <!-- Photo Management Column -->
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0 bg-slate-200 rounded-lg">
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-3">Photo Management</h2>
                                        
                    <button hx-get="/view1/image_upload_form" hx-target="#modal-container" hx-swap="innerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                        Upload New Photo
                    </button>

                    <!-- Container for modal -->
                    <div id="modal-container">
                        <!-- Modal content will be loaded here -->
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        {% for photo in photo_data %}
                        <div class="bg-white p-4 rounded-lg shadow">
                            <img src="{{photo['photo_url']}}" alt="Placeholder Image">
                            <p class="text-center mt-2">{{photo['photo_name']}}</p>
                        </div>
                        {% endfor %}
                    </div>




                </div>
            </div>

            <div>
                <span class="text-2xl font-bold text-gray-100"> | | | </span>
            </div>

            <!-- Voice Management Column -->
            <div class="w-full md:w-1/3 px-2 bg-slate-200 rounded-lg">
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-3">Voice Management</h2>
                    <button class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New Voice</button>
                    
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-1">
                        <!-- Voice 1 -->
                        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                            <div class="flex-shrink-0">
                                <img class="h-10 w-10 rounded-full" src="{{ url_for('static', filename='images/colorful-sound-wave-png.png') }}" alt="Voice 1">
                            </div>
                            <div class="min-w-0 flex-1">
                                <a href="#" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-sm font-medium text-gray-900">Hants Williams</p>
                                    <p class="truncate text-sm text-gray-500">Male, 30s</p>
                                </a>
                            </div>
                        </div>
                    
                        <!-- Voice 2 -->
                        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                            <div class="flex-shrink-0">
                                <img class="h-10 w-10 rounded-full" src="{{ url_for('static', filename='images/colorful-sound-wave-png.png') }}" alt="Voice 2">
                            </div>
                            <div class="min-w-0 flex-1">
                                <a href="#" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-sm font-medium text-gray-900">Bryan</p>
                                    <p class="truncate text-sm text-gray-500">Female, 40s</p>
                                </a>
                            </div>
                        </div>
                    
                        <!-- Voice 3 -->
                        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                            <div class="flex-shrink-0">
                                <img class="h-10 w-10 rounded-full" src="{{ url_for('static', filename='images/colorful-sound-wave-png.png') }}" alt="Voice 3">
                            </div>
                            <div class="min-w-0 flex-1">
                                <a href="#" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-sm font-medium text-gray-900">Jackie</p>
                                    <p class="truncate text-sm text-gray-500">Male, 20s</p>
                                </a>
                            </div>
                        </div>
                    
                        <!-- Add more voices as needed -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}