<script>

  document.body.addEventListener('click', function (event) {
      if (event.target.id === 'cancel-btn') {
          const modal = document.getElementById('my-modal-text-output');
          if (modal) {
              modal.style.display = 'none';
          }
      }
  });

    // Function to check for invalid characters
    function containsInvalidCharacters(text) {
        return text.includes('||');
    }

    function validateAndSubmit(event) {
      console.log("validateAndSubmit called"); // Add this line for debugging
      const textInput = document.getElementById('text_input').value;
      if (containsInvalidCharacters(textInput)) {
          alert('Input contains invalid characters: ||');
          event.preventDefault(); // Prevent the form from submitting
      } 
    }

    // Attach the validation function to the Post button's click event
    document.getElementById('post-btn').addEventListener('click', validateAndSubmit);

    // to enable the enter key to submit the form
    document.getElementById('text_input').addEventListener('keydown', function(event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Prevent default to avoid new line in textarea
            const textInput = document.getElementById('text_input').value;
            if (containsInvalidCharacters(textInput)) {
                alert('Input contains invalid characters: ||');
            } else {
                document.getElementById('post-btn').click(); // Trigger the Post button click
            }
        }
    });

    // to enable to escape key to close the modal
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            const modal = document.getElementById('my-modal-text-output');
            if (modal) {
                modal.style.display = 'none';
            }
        }
    });

</script>

<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal-text-output">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div class="mt-3 text-center">
          <form hx-post="/view1/text/upload?return_type=html" 
            hx-target="#my-modal-text-output" 
            hx-swap="outerHTML" 
            class="relative">
              <div class="border-b border-gray-200 focus-within:border-blue-600">
                  <label for="text_input" class="sr-only">Add some text...</label>
                  <textarea rows="3" name="text_input" id="text_input" class="block w-full resize-none border-0 border-b border-transparent p-0 pb-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Add some text..."></textarea>
              </div>
                {% if projects %}
                    <div class="mt-3 border-b border-gray-200 focus-within:border-blue-600">
                        <label for="project_id" class="sr-only">Associate with a project...</label>
                        <select multiple name="project_id[]" id="project_id[]" class="block w-full border-0 border-b border-transparent p-0 pb-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6">
                            <option class="mb-2" value="" selected disabled>Associate with one or more projects...</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
              <div class="flex justify-between pt-2">
                  <div class="flex-shrink-0">
                      <button id="cancel-btn" type="button" class="inline-flex items-center rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Cancel</button>
                      <button id="post-btn" type="submit" class="inline-flex items-center rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Post</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>






  