<!-- templates/stream.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>
<body>
    <h2>Streaming Feed</h2>

    <form id="stream-form">
        <label for="text">Text:</label><br>
        <input type="text" id="text" name="text"><br>
        <label for="voice">Voice:</label><br>
        <input type="text" id="voice" name="voice" value="s3://voice-cloning-zero-shot/09b5c0cc-a8f4-4450-aaab-3657b9965d0b/podcaster/manifest.json"><br>
        <br><br>
        <button type="button" id="start-stream">Start Stream (Make Request to PlayHT)</button>
    </form>
    
    <div id="stream-data"></div>

    <div id="final-url-container" style="margin-top: 20px;"></div> <!-- Container for the final URL -->

    
    <script type="text/javascript">
        document.getElementById('start-stream').addEventListener('click', function() {
            var text = document.getElementById('text').value;
            var voice = document.getElementById('voice').value;
            var eventSource = new EventSource('/stream-data?text=' + encodeURIComponent(text) + '&voice=' + encodeURIComponent(voice));
            eventSource.onmessage = function(e) {
                // Check if the data starts with 'data: '
                if (e.data.startsWith('data: ')) {
                    try {
                        // Extract the JSON part and parse it
                        var jsonPart = e.data.substring(6); // 'data: '.length === 6
                        var data = JSON.parse(jsonPart);
                        
                        document.getElementById('stream-data').innerHTML += JSON.stringify(data) + '<br>';
                        document.getElementById('stream-data').innerHTML += JSON.stringify(data.stage_progress) + '<br>';

                        // Stop the stream if it's completed or if there's an error
                        if (data.stage && data.stage === 'complete') {
                            eventSource.close();
                            console.log('Results URL:', data.url);
                            // if final_url is not null, update the HTML element with the URL
                            if (data.url) {
                                // If finalUrl is not null, update the HTML element with the URL
                                document.getElementById('final-url-container').innerHTML = 'Final URL: <a href="' + data.url + '" target="_blank">' + data.url + '</a>';
                            }
                            // Send data to /stream-data/response as a POST request
                            fetch('/stream-data/response', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            }).then(function(response) {
                                console.log('Response:', response);
                            }).catch(function(error) {
                                console.error('Error:', error);
                            });
                            // // Then reset the form and the stream data
                            // document.getElementById('stream-form').reset();
                            // document.getElementById('stream-data').innerHTML = '';
                        }
                    } catch(err) {
                        console.error('Error parsing JSON:', err);
                    }
                }
            };
    
            eventSource.onerror = function(e) {
                console.error('EventSource failed:', e);
                eventSource.close(); // Close the stream on error
            };
        });
    </script>


</body>
</html>
