<script>
    document.body.addEventListener('click', function (event) {
        if (event.target.id === 'ok-btn') {
            const modal = document.getElementById('create-audio-modal');
            if (modal) {
                modal.style.display = 'none';
            }
        }
    });
  </script>

<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="create-audio-modal">
    <!-- Modal Content -->
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">

            <form id="stream-form">
                <h1 class="text-3xl font-bold mb-5"> Create Audio </h1>

                <!-- display the text_content that was passed -->
                <p class="text-xs"> RowID: {{ data.id }} </p>
                <p class="text-xs"> Text Content: {{ data.text_content }} </p>

                <input type="hidden" name="row_id" id="row_id" value="{{ data.id }}">
                <input type="hidden" name="text" id="text" value="{{ data.text_content }}">

                <div class="mt-4 mb-4">
                    <label for="speaker-type" class="block text-gray-700 text-sm font-bold mb-2">Select Speaker:</label>
                    <select name="voice" id="voice" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                       <option value="male_matt">Male (Matt)</option>
                       <option value="female_nichole">Female (Nicole)</option>
                    </select>
                </div>
                <div class="items-center px-4 py-3">
                    <button type="button" id="start-stream" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Create (Request to PlayHT)
                    </button>
                </div>
                <button id="ok-btn" class="absolute top-0 right-0 mt-4 mr-4 text-3xl font-bold" type="button">&times;</button>
            </form>

            <div id="loading-bar" class="hidden relative">
                <div class="items-center px-4 py-3">
                <button type="button" class="bg-green-500 text-white font-bold py-2 px-4 rounded flex items-center justify-center" disabled>
                    <svg class="animate-spin h-5 w-5 mr-3 text-white" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12c5.52 0 10-4.52 10-10z"></path>
                    </svg>
                    Processing...
                  </button>    
                </div>     
            </div>

            <div id="stream-data" class="hidden max-h-64 overflow-y-auto bg-gray-800 text-white p-4 font-mono text-sm border border-gray-600 rounded-lg"></div>

            <div id="final-url-container" class="hidden mt-5 p-4 bg-green-500 rounded-lg shadow-md text-white overflow-hidden">
            </div>

            <div id="succesful-upload" class="hidden">
                <div class="rounded-md bg-green-50 p-4">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="ml-3">
                        <p class="text-sm font-medium text-green-800">Successfully uploaded to DB</p>
                      </div>
                    </div>
                  </div>           
             </div> 

            
            <script type="text/javascript">

                var streamDataDiv = document.getElementById('stream-data');
                var finalUrlDiv = document.getElementById('final-url-container');
                var succesfulUploadDiv = document.getElementById('succesful-upload');

                document.getElementById('start-stream').addEventListener('click', function() {
                    var text = document.getElementById('text').value;
                    var voice = document.getElementById('voice').value;
                    var rowId = document.getElementById('row_id').value;
                    console.log('Text:', text);
                    console.log('Voice:', voice);
                    var eventSource = new EventSource('/audio/stream-data?text=' + encodeURIComponent(text) + '&voice=' + encodeURIComponent(voice));
                    eventSource.onmessage = function(e) {
                        // Check if the data starts with 'data: '
                        if (e.data.startsWith('data: ')) {
                            try {
                                // Extract the JSON part and parse it
                                var jsonPart = e.data.substring(6); // 'data: '.length === 6
                                var data = JSON.parse(jsonPart);

                                streamDataDiv.classList.remove('hidden'); // Show the div
                                document.getElementById('loading-bar').classList.remove('hidden'); // Show the loading bar

                                document.getElementById('stream-data').innerHTML += JSON.stringify(data) + '<br>';
                                document.getElementById('stream-data').innerHTML += JSON.stringify(data.stage_progress) + '<br>';
        
                                // Stop the stream if it's completed or if there's an error
                                if (data.stage && data.stage === 'complete') {
                                    eventSource.close();
                                    console.log('Results URL:', data.url);
                                    finalUrlDiv.classList.remove('hidden'); // Show the div
                                    document.getElementById('loading-bar').classList.add('hidden'); // Hide the loading bar
                                    // if final_url is not null, update the HTML element with the URL
                                    if (data.url) {
                                        // If finalUrl is not null, update the HTML element with the URL
                                        document.getElementById('final-url-container').innerHTML = '<a href="' + data.url + '" target="_blank">' + data.url + '</a>';
                                    }
                                    // Send data to /stream-data/response as a POST request
                                    fetch('/audio/stream-data/response', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(
                                            {
                                                'row_id': rowId,
                                                'playht': data,
                                                'voice': voice
                                            }
                                        )
                                    }).then(function(response) {
                                        console.log('Response:', response);
                                        succesfulUploadDiv.classList.remove('hidden'); // Show the div
                                    }).catch(function(error) {
                                        console.error('Error:', error);
                                    });
                                    // // Then reset the form and the stream data
                                    // document.getElementById('stream-form').reset();
                                    // document.getElementById('stream-data').innerHTML = '';
                                }
                            } catch(err) {
                                console.error('Error parsing JSON:', err);
                                console.log('Error data:', e.data);
                                eventSource.close(); // Close the stream on error
                                streamDataDiv.classList.add('hidden'); // Hide the div
                                document.getElementById('loading-bar').classList.add('hidden'); // Hide the loading bar
                            }
                        }
                    };
            
                    eventSource.onerror = function(e) {
                        console.error('EventSource failed:', e);
                        eventSource.close(); // Close the stream on error
                        streamDataDiv.classList.add('hidden'); // Hide the div
                        document.getElementById('loading-bar').classList.add('hidden'); // Hide the loading bar
                    };
                });
            </script>



        </div>
    </div>
</div>
